// main: ../style.less
main {

  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

  .section {
    position: relative;
    padding: 50px 0;

    &.page-content {
      background-color: @darkHighGray;
      border-radius: 24px;
      margin: 20px 0;
      margin-top: -48px;
      padding: 50px 20px;
      padding-top: 78px;
      color: @white;
    }

    .scroll-buttons {
      position: absolute;
      top: 50%;
      z-index: 2;
      width: 100%;
      transform: translateY(-50%);

      .left,
      .right {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        padding: 0 !important;
        border-radius: 100px;
        transition: all linear .3s;
      }

      .left {
        left: -20px;

        .icon {
          margin-left: 17px;
        }

        &:hover {
          left: -23px;

          .icon {
            margin-left: 19px;
          }
        }
      }

      .right {
        right: -20px;

        .icon {
          margin-right: 20px;
        }

        &:hover {
          right: -23px;

          .icon {
            margin-right: 22px;
          }
        }
      }
    }

    .section-title {
      width: 100%;
      margin-bottom: 20px;
      color: @white;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;

      .title {
        font-size: 23px;
        font-weight: 900;
        text-align: left;
        text-transform: uppercase;
      }

      .read-more {
        width: 38px;
        height: 38px;
        padding: 0;
        border-radius: 76px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all linear .2s;
        box-shadow: 0px 4px 7px 0 rgba(@white, .1);

        .icon {
          opacity: .8;
        }

        &:hover {
          transform: translateX(4px);
        }
      }
    }

    .section-list {
      @import "item.less";
      @import "skeleton/item-skeleton.less";
      height: 190px;
      white-space: nowrap;
    }
  }
}