@font-face {
    font-family: "Segoe Fluent Icons";
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
    src: url("./fonts/SegoeFluentIcons.eot");
    src: url("./fonts/SegoeFluentIcons.eot?#iefix") format("embedded-opentype"), url("./fonts/SegoeFluentIcons.woff2") format("woff2"), url("./fonts/SegoeFluentIcons.woff") format("woff"), url("./fonts/SegoeFluentIcons.ttf") format("truetype"), url("./fonts/SegoeFluentIcons.svg#SegoeFluentIcons") format("svg");
}

@font-face {
    font-family: 'Segoe MDL2 Assets';
    src: url('./fonts/SegoeMDL2Assets.eot');
    src: url('./fonts/SegoeMDL2Assets.eot?#iefix') format('embedded-opentype'), url('./fonts/SegoeMDL2Assets.woff2') format('woff2'), url('./fonts/SegoeMDL2Assets.woff') format('woff'), url('./fonts/SegoeMDL2Assets.ttf') format('truetype'), url('./fonts/SegoeMDL2Assets.svg#SegoeMDL2Assets') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap");