// out: ../css/style.min.css


@import "components/reset.less";
@import "components/colors.less";
@import "components/fonts.less";
@import "components/icons.less";
@import "components/button.less";
@import "components/input.less";
@import "components/header.less";
@import "components/mobile-header.less";
@import "components/main.less";
@import "components/footer.less";


html,
body {
  background-color: @darkMediumGray;
}

body {
  .Montserrat();
  padding-top: 139px;
}

.simplebar-content-wrapper {
  scroll-behavior: smooth;
}